#app4 {
  border: 1px solid pink;
}
@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}
#app4 > .circle {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 50%;
}
#app4 > .circle.active {
  animation: change 1s infinite alternate linear;
}
